@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&display=swap");

:root {
  --clr-primary: #0a0a23;
  --clr-white: #fff;
  --clr-red: #c70d0d;
  --clr-yellow: #feac32;

  --clr-yellow-light: #fecc4c;
  --clr-yellow-dark: #ffac33;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  background-color: var(--clr-primary);
  overflow-y: hidden;
}

.section-game {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading-primary {
  font-family: "Press Start 2p";
  color: var(--clr-white);
  margin-bottom: 3rem;
}

#text {
  background-color: var(--clr-primary);
  color: var(--clr-white);
  padding: 1rem;
}

#game {
  max-width: 50rem;
  max-height: 40rem;
  background-color: var(--clr-white);
  color: var(--clr-white);
  padding: 1rem;
}

#controls,
#stats {
  border: 1px solid var(--clr-primary);
  padding: 5px;
  color: var(--clr-primary);
}

#monsterStats {
  display: none;
  border: 1px solid var(--clr-primary);
  padding: 5px;
  color: var(--clr-white);
  background-color: var(--clr-red);
}

.stat {
  padding-right: 1rem;
}

button {
  cursor: pointer;
  color: var(--clr-primary);
  background-color: var(--clr-yellow);
  background-image: linear-gradient(
    var(--clr-yellow-light),
    var(--clr-yellow-dark)
  );
  border: 3px solid var(--clr-yellow);
}
